<div class="row">
  <div class="container">
    <div class="col-md-6">
      <% @todos.each do |todo| %>
        <h1>ToDos NO completados</h1>
        <% if todo.completed == false %>
          <ol>
            <li> <%= todo.description %> </li>
          </ol>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1>ToDos completados</h1>
      <% @todos.each do |todo| %>
        <% if todo.completed == true %>
          <ol>
            <li> <%= todo.description %> </li>
          </ol>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
